<layout-testimonials-item ...attributes>

	<div>

		<div>
		</div>

		<div>

			<div>
				<text>{{@text}}</text>
			</div>

			<div>
				<name>{{@name}}</name>
			</div>

			<div>
				<user>{{@user}}</user>
			</div>

			<div>
				<img src={{@image}}>
			</div>

		</div>

	</div>

</layout-testimonials-item>