<layout-testimonials-item ...attributes>

	<div>

		<div>
		</div>

		<div>

			<div>
				{{#if @name}}<name>{{@name}}</name>{{/if}}
				<bull>&bull;</bull>
				{{#if @date}}<date>{{date-format @date "MMM DD"}}</date>{{/if}}
			</div>

			<div>
				<text>{{@text}}</text>
			</div>

		</div>

	</div>

</layout-testimonials-item>