button, a[button] {

	height:auto;
	border:none;
	cursor:pointer;
	font-weight:600;
	line-height:26px;
	padding:10px 20px;
	align-items:center;
	border-radius:50px;
	display:inline-flex;
	justify-content:center;
	letter-spacing:0.005em;
	color: var(--text-color);
	background: transparent;
	border: 1px solid #ffffff;

	@include media(max-width-642) {
		width:100%;
	}

	&:hover {
		background: transparent;
		border: 1px solid #ffffff;
	}

	span + i {
		padding-left:30px;
	}

	i + span {
		padding-left:10px;
	}

	& i {
		color:transparent;
		color: var(--text-color);
	}

	&:hover i {
		color: var(--text-color);
	}

	p > & {

		margin:0 30px 30px 0;

		@include media(max-width-768) {
			margin:0 0px 15px 0;
		}

	}

	&[bordered][thicker] {

		color: #fff;
		padding:3px;
		background: transparent;
	    border: 2px solid #fff;
		color: var(--text-color);
    	transition: background-color .2s ease;

		@include media(max-width-642) {
			width:100%;
		}

		div {
			width:100%;
			height:100%;
			display:flex;
			padding:12px 20px;
			border-radius:50px;
			align-items:center;
			justify-content:center;
		}

		&:hover {
			background: transparent;
			color: var(--back-color);
    		background-color: #fff;
    		border: 2px solid #fff;
    		transition: all .4s ease-in-out;
		}

		&:hover i {
			color: var(--black-color);
		}

	}

	&[bordered][thinner] {

		width:50%;
		padding:3px;
    	color:#ffffff;
		background: transparent;
		color:var(--text-color);
    	border:2px solid #ffffff;
    	transition: background-color .2s ease;

		@include media(max-width-642) {
			width:100%;
		}


		div {
			width:100%;
			height:100%;
			display:flex;
			padding:12px 20px;
			border-radius:50px;
			align-items:center;
			justify-content:center;
		}

		&:hover {
			background: transparent;
			color: var(--back-color);
    		background-color: #ffffff;
    		border: 2px solid #ffffff;
    		transition: background-color .2s ease;
		}

		@media (prefers-color-scheme: light) {
			width:50%;
			padding:3px;
			color:#ffffff;
			background: transparent;
			color:var(--text-color);
			border:2px solid #000000;
			transition: background-color .2s ease;

			@include media(max-width-642) {
				width:100%;
			}


			div {
				width:100%;
				height:100%;
				display:flex;
				padding:12px 20px;
				border-radius:50px;
				align-items:center;
				justify-content:center;
			}

			&:hover {
				background: transparent;
				color: var(--back-color);
				background-color: #000000;
				border: 2px solid #000000;
				transition: background-color .2s ease;
			}

		}

	}

}
