button, a[button] {

	height:auto;
	border:none;
	cursor:pointer;
	font-weight:600;
	line-height:26px;
	padding:10px 20px;
	align-items:center;
	border-radius:50px;
	display:inline-flex;
	justify-content:center;
	letter-spacing:0.005em;
	background:transparent;
	color:var(--same-color);
	border:2px solid var(--same-color);

	&[form] {
		width:100%;
		border-radius:0px;
	}

	@include media(max-width-642) {
		width:100%;
	}

	span + i {
		padding-left:15px;
	}

	& i {
		color:transparent;
		color:var(--same-color);
	}

	&:hover {
		background:transparent;
		color:var(--black-color);
		transition:all .4s ease-in-out;
		border:2px solid var(--same-color);
		background-color:var(--same-color);
	}

	&:hover i {
		color:var(--black-color);
	}

	p > & {

		margin:0 30px 30px 0;

		@include media(max-width-768) {
			margin:0 0px 15px 0;
		}

	}

	&[bordered][thicker] {

		padding:3px;
		background:transparent;
		color:var(--same-color);
		transition:all .4s ease-in-out;
		border:2px solid var(--same-color);

		@include media(max-width-642) {
			width:100%;
		}

		div {
			width:100%;
			height:100%;
			display:flex;
			padding:12px 20px;
			border-radius:50px;
			align-items:center;
			justify-content:center;
		}

		& i {
			color:transparent;
			color:var(--same-color);
		}

		&:hover {
			background:transparent;
			color:var(--black-color);
			transition:all .4s ease-in-out;
			border:2px solid var(--same-color);
    		background-color:var(--same-color);
		}

		&:hover i {
			color:var(--black-color);
		}

		@media (prefers-color-scheme: light) {
			padding:3px;
			background:transparent;
			color:var(--same-color);
			transition:all .4s ease-in-out;
			border:2px solid var(--same-color);

			@include media(max-width-642) {
				width:100%;
			}

			div {
				width:100%;
				height:100%;
				display:flex;
				padding:12px 20px;
				border-radius:50px;
				align-items:center;
				justify-content:center;
			}

			& i {
				color:transparent;
				color:var(--same-color);
			}

			&:hover {
				background:transparent;
				color:var(--black-color);
				transition:all .4s ease-in-out;
				border:2px solid var(--same-color);
				background-color:var(--same-color);
			}

			&:hover i {
				color:var(--black-color);
			}

		}

	}

	&[bordered][thinner] {

		padding:3px;
		background:transparent;
    	color:var(--black-color);
		transition:all .4s ease-in-out;
    	border:2px solid var(--black-color);

		@include media(max-width-642) {
			width:100%;
		}


		div {
			width:100%;
			height:100%;
			display:flex;
			padding:12px 20px;
			border-radius:50px;
			align-items:center;
			justify-content:center;
		}

		& i {
			color:transparent;
			color:var(--black-color);
		}

		&:hover {
			background:transparent;
			color:var(--same-color);
			transition:all .4s ease-in-out;
    		background-color:var(--black-color);
			border:2px solid var(--black-color);
		}

		&:hover i {
			color:var(--same-color);
		}

		@media (prefers-color-scheme: dark) {
			padding:3px;
			background:transparent;
			color:var(--same-color);
			transition:all .4s ease-in-out;
			border:2px solid var(--same-color);

			@include media(max-width-642) {
				width:100%;
			}

			div {
				width:100%;
				height:100%;
				display:flex;
				padding:12px 20px;
				border-radius:50px;
				align-items:center;
				justify-content:center;
			}

			& i {
				color:transparent;
				color:var(--same-color);
			}

			&:hover {
				background:transparent;
				color:var(--black-color);
				transition:all .4s ease-in-out;
				border:2px solid var(--same-color);
				background-color:var(--same-color);
			}

			&:hover i {
				color:var(--black-color);
			}

		}

	}

}