[curved] { border-radius:0px; }

[fg-ffffff] { color:#ffffff; }
[fg-ff00a0] { color:#ff00a0; }
[fg-9600ff] { color:#9600ff; }
[fg-1a202d] { color:#151517; }
[fg-272e3c] { color:#8A8F98; }

[fg-text] { color:var(--text-color); }
[fg-back] { color:var(--back-color); }
[fg-dark] { color:var(--dark-color); }
[fg-faint] { color:var(--faint-color); }
[fg-hover] { color:var(--hover-color); }

[bg-ff00a0] { background-color:#ff00a0; }
[bg-9600ff] { background-color:#9600ff; }
[bg-ffffff] { background-color:#ffffff; }
[bg-1a202d] { background-color:#151517; }
[bg-272e3c] { background-color:#8A8F98; }
