@font-face {
	font-weight: 100;
	font-display: swap;
	font-family: 'SF Pro Display';
	src: url('/static/fonts/sf-pro-display-Thin.woff2');
}

@font-face {
	font-weight: 200;
	font-display: swap;
	font-family: 'SF Pro Display';
	src: url('/static/fonts/sf-pro-display-UltraThin.woff2');
}

@font-face {
	font-weight: 300;
	font-display: swap;
	font-family: 'SF Pro Display';
	src: url('/static/fonts/sf-pro-display-Light.woff2');
}

@font-face {
	font-weight: 400;
	font-display: swap;
	font-family: 'SF Pro Display';
	src: url('/static/fonts/sf-pro-display-Regular.woff2');
}

@font-face {
	font-weight: 500;
	font-display: swap;
	font-family: 'SF Pro Display';
	src: url('/static/fonts/sf-pro-display-Medium.woff2');
}

@font-face {
	font-weight: 600;
	font-display: swap;
	font-family: 'SF Pro Display';
	src: url('/static/fonts/sf-pro-display-SemiBold.woff2');
}

@font-face {
	font-weight: 700;
	font-display: swap;
	font-family: 'SF Pro Display';
	src: url('/static/fonts/sf-pro-display-Bold.woff2');
}
