html {
	touch-action:manipulation;
	-webkit-tap-highlight-color:transparent;
	scroll-padding-top:6rem;
}

.announcement {
    width:auto;
	padding:15px;
	text-align:center;
	display:inline-block;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center top;
    background-color:var(--black-color);

	a {
		animation: move 4s linear infinite;
		background-image: linear-gradient(to right, #ff00a0, #9600ff, #0084ff, #9600ff, #ff00a0);
		background-size: 200% auto;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	@keyframes move { to { background-position: 200% center; }
	}
	
}

body {

	width:100vw;
	display:flex;
	font-size:16px;
	min-height:100vh;
	overflow-x:hidden;
	flex-direction:column;
	color:var(--text-color);
	background-size:250px, 250px;
	justify-content:space-between;
	font-family:var(--system-font-app);
	background-color:var(--back-color);
	text-rendering:optimizeLegibility !important;
	-webkit-font-smoothing:subpixel-antialiased !important;
}

input {
	width:100%;
	padding:20px;
	font-size:16px;
	border-radius:0px;
	margin-bottom:20px;
	background:transparent;
	color:var(--text-color);
	border:2px solid var(--text-color);
}

section {

	&[dark] {
		width:100%;
		background-color:var(--dark-color);
	}

	&[pink] {
		width:100%;
		background:linear-gradient(-60deg, rgba(255, 0, 160, 1) 0%, rgba(135, 0, 255, 0.8) 50%, rgba(0, 0, 0, 0.4) 110%);
		background-color:#000000;
	}

}

content {

	width:80%;
	display:block;
	max-width:1270px;
	position:relative;
	margin:0 auto 0 auto;
	transition:width 0.5s, max-width 0.5s;

	@include media(max-width-1200) {
		width:930px;
	}

	@include media(max-width-1024) {
		width:85%;
	}

	content {
		width:auto;
	}

	body > &[route^="docs"] {

		max-width:1600px;

		content {
			width:100%;
			max-width:100%;
		}

	}

}
