html {
	touch-action:manipulation;
	-webkit-tap-highlight-color:transparent;
	scroll-padding-top:6rem;
}

body {

	width:100vw;
	display:flex;
	font-size:16px;
	min-height:100vh;
	overflow-x:hidden;
	flex-direction:column;
	color:var(--text-color);
	background-size:250px, 250px;
	justify-content:space-between;
	font-family:var(--system-font-app);
	background-color:var(--back-color);
	text-rendering:optimizeLegibility !important;
	-webkit-font-smoothing:subpixel-antialiased !important;

}

section {

	&[dark] {
		width:100%;
		background-color:var(--dark-color);
	}

	&[pink] {
		width:100%;
		background: rgb(255,0,160);
		background:linear-gradient(120deg, rgba(255,0,160,1) 0%, rgba(135,0,255,0.8) 60%);
	}	

}

content {

	width:80%;
	display:block;
	max-width:1270px;
	position:relative;
	margin:0 auto 0 auto;
	transition:width 0.5s, max-width 0.5s;

	@include media(max-width-1200) {
		width:930px;
	}

	@include media(max-width-1024) {
		width:85%;
	}

	content {
		width:auto;
	}

	body > &[route^="docs"] {

		max-width:1600px;

		content {
			width:100%;
			max-width:100%;
		}

	}

}
