h1 {

	font-size: 60px;
	line-height: 1.1;
	font-weight: 600;
	letter-spacing: -1px;
	font-family: "SF Pro Display";
	transition: color 0.3s;
	color: var(--text-color);
    display: block;

	span[gradient] {
		border: 1px solid #fff;
    border-radius: 5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: inline-block;
	}

	img[inline] {
		height: 45px;
	}

	i {
		vertical-align: middle;
	}

	@include media(max-width-1449) {
		font-size: 46px;

		img[inline] {
			height: 34px;
		}
	}

	@include media(max-width-600) {
		width: 100%;
		font-size: 38px;
		margin-bottom: 0px;

		img[inline] {
			height: 28px;
		}
	}

	&[light] {
		color: var(--text-color);
	}

	&[same] {
		color:var(--same-color);
	}

	&[black] {
		color:var(--dark-color);
	}

}

h2 {

	font-weight: 600;
	line-height: 1.2;
	font-size: 3.875rem;
	letter-spacing: -1px;
	font-family: "SF Pro Display";
	transition: color 0.3s;
	color:var(--text-color);
	letter-spacing: -.035rem;
	color: var(--text-color);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	span[gradient] {
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background: linear-gradient(-60deg, rgba(135, 0, 255, 1) 0%, rgba(255, 0, 158, 1) 100%);
		background: -moz-linear-gradient(-60deg, rgba(135, 0, 255, 1) 0%, rgba(255, 0, 158, 1) 100%);
		background: -webkit-linear-gradient(-60deg, rgba(135, 0, 255, 1) 0%, rgba(255, 0, 158, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00a0",endColorstr="#9600ff",GradientType=1);
	}

	img[inline] {
		height: 29px;
	}

	i {
		vertical-align: middle;
	}

	@include media(max-width-550) {
		font-size: 30px;
		line-height: 1.3;

		img[inline] {
			height: 22px;
		}
	}

}

h3 {

	font-size: 26px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: -1px;
	font-family: "SF Pro Display";
	transition: color 0.3s;
	letter-spacing: -.035rem;
	color: var(--text-color);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	span[gradient] {
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background: linear-gradient(-60deg, rgba(135, 0, 255, 1) 0%, rgba(255, 0, 158, 1) 100%);
		background: -moz-linear-gradient(-60deg, rgba(135, 0, 255, 1) 0%, rgba(255, 0, 158, 1) 100%);
		background: -webkit-linear-gradient(-60deg, rgba(135, 0, 255, 1) 0%, rgba(255, 0, 158, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00a0",endColorstr="#9600ff",GradientType=1);
	}

	img[inline] {
		height: 23px;
	}

	i {
		vertical-align: middle;
	}

}

h4 {

	font-size: 22px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -1px;
	font-family: "SF Pro Display";
	transition: color 0.3s;
	color: var(--text-color);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	img[inline] {
		height: 16px;
	}

	i {
		vertical-align: middle;
	}

	@include media(max-width-750) {
		font-size: 16px;

		img[inline] {
			height: 12px;
		}
	}

}

h5 {

	width: 70%;
	font-weight: 500;
	margin: 0 15% 0 15%;
	line-height: 1.29412;
	font-size: 30px;
	font-family: "SF Pro Display";
	transition: color 0.3s;
	letter-spacing: -0.03em;
	color: var(--text-color);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	i {
		vertical-align: middle;
	}

	@include media(max-width-1449) {
		width: 100%;
		font-size: 30px;
	}

	@include media(max-width-600) {
		width: 100%;
		font-size: 26px;
		margin-bottom: 0px;

		img[inline] {
			height: 28px;
		}
	}

	&[light] {
		color: var(--text-color);
	}

	&[faint] {
		color: var(--faint-color);
	}

	&[same] {
		color:var(--same-color);
	}

}

h6 {
	display: block;
	font-size: 60px;
	line-height: 1.1;
	font-weight: 600;
	letter-spacing: -1px;
	font-family: "SF Pro Display";
	transition: color 0.3s;
	color: var(--text-color);

	span[gradient] {
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background: linear-gradient(-60deg, rgba(135, 0, 255, 1) 0%, rgba(255, 0, 158, 1) 100%);
		background: -moz-linear-gradient(-60deg, rgba(135, 0, 255, 1) 0%, rgba(255, 0, 158, 1) 100%);
		background: -webkit-linear-gradient(-60deg, rgba(135, 0, 255, 1) 0%, rgba(255, 0, 158, 1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00a0",endColorstr="#9600ff",GradientType=1);
	}

	img[inline] {
		height: 45px;
	}

	i {
		vertical-align: middle;
	}

	@include media(max-width-1449) {
		font-size: 46px;

		img[inline] {
			height: 34px;
		}
	}

	@include media(max-width-600) {
		width: 100%;
		font-size: 38px;
		margin-bottom: 0px;

		img[inline] {
			height: 28px;
		}
	}

	&[light] {
		color: var(--text-color);
	}

	&[same] {
		color:var(--same-color);
	}

	&[black] {
		color:var(--back-color);
	}

}

g {
		width: 70%;
		display: block;
		font-size: 90px;
		line-height: 1.1;
		font-weight: 500;
		letter-spacing: -5px;
		font-family: "SF Pro Display";
		background-clip: text;
		transition: color 0.3s;
		color: var(--text-color);
		-webkit-background-clip: text;
		text-rendering: optimizeLegibility;
		-webkit-text-fill-color: transparent;
		background: linear-gradient(-60deg, rgba(135, 0, 255, 1) 0%, rgba(255, 0, 158, 1) 100%);
		background: -moz-linear-gradient(-60deg, rgba(135, 0, 255, 1) 0%, rgba(255, 0, 158, 1) 100%);
		background: -webkit-linear-gradient(-60deg, rgba(135, 0, 255, 1) 0%, rgba(255, 0, 158, 1) 100%);
	
		span[gradient] {
		border-radius: 5rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		display: inline-block;
		padding-bottom: 0.5rem;
		border: 1px solid #fff;
		}
	
		img[inline] {
			height: 45px;
		}
	
		i {
			vertical-align: middle;
		}
	
		@include media(max-width-1449) {
			font-size: 46px;
	
			img[inline] {
				height: 34px;
			}
		}
	
		@include media(max-width-600) {
			width: 100%;
			font-size: 38px;
			margin-bottom: 0px;
	
			img[inline] {
				height: 28px;
			}
		}
	
	}

b {
	font-size: 1.88235rem;
	text-align: left;
	width: 700px;
	font-weight: 500;
	line-height: 1.29412;
	letter-spacing: -0.03em;
	font-family: "Inter";
	transition: color 0.3s;
	color: #ffffff;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	i {
		vertical-align: middle;
	}
	
	}

li {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7;
	color: var(--faint-color);
	font-family: var(--system-font-app);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

p {

	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: var(--faint-color);
	font-family: var(--system-font-app);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	&[white] {
		color: var(--text-color);
	}

	img[inline] {
		height: 14px;
	}

	&[small] {
		font-size: 12px;
		margin-bottom: 0;
	}

}

blockquote {

	padding: 20px;
	color: var(--faint-color);
	border-radius: 0 12px 12px 0;
	background-color: var(--dark-color);
	border-left: 3px solid var(--hover-color);

	&[text] {
		&:before {
			content: attr(text) ": ";
			text-transform: uppercase;
		}
	}

	&[pink] {
		border-left-color: #ff009e;

		&:before {
			color: #ff009e;
		}
	}

	&[green] {
		border-left-color: #00ff6e;

		&:before {
			color: #00ff6e;
		}
	}

	&[orange] {
		border-left-color: #ff9b67;

		&:before {
			color: #ff9b67;
		}
	}

	&[purple] {
		border-left-color: #9d2fff;

		&:before {
			color: #9d2fff;
		}
	}

	&[yellow] {
		border-left-color: #ffde00;

		&:before {
			color: #ffde00;
		}
	}

	codes,
	code {
		box-shadow: none;
		background-color: var(--back-color);
	}

}

n {

	font-size: 13px;
	font-weight: 400;
	line-height: 1.5;
	margin-top: 10px;
	display: inline-block;
	color: var(--faint-color);
	font-family: var(--system-font-app);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	a {
		color: var(--faint-color);
	}

}

l {

	cursor: default;
	padding: 3px 8px;
	font-size: 0.6em;
	border-radius: 4px;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	color: var(--faint-color);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: var(--system-font-mono);
	border: 1px solid var(--faint-color);

	&[r] {
		float: right;
	}

	[flex] & {
		margin: 0 10px;
	}

	&[faint] {
		opacity: 0.6;
	}

	&[blue] {
		color: #0084ff;
		border: 1px solid #0084ff;
	}

	&[pink] {
		color: #ff009e;
		border: 1px solid #ff009e;
	}

	&[green] {
		color: #00ff6e;
		border: 1px solid #00ff6e;
	}

	&[orange] {
		color: #ff9b67;
		border: 1px solid #ff9b67;
	}

	&[purple] {
		color: #9d2fff;
		border: 1px solid #9d2fff;
	}

	&[yellow] {
		color: #ffde00;
		border: 1px solid #ffde00;
	}

}

h1,
h2,
h3,
h4,
h5 {
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

blockquote,
ul,
ol {
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

table,
pre,
p {
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

ul li {
	margin-left: 30px;
	margin-bottom: 0px;
}

ol li {
	margin-left: 30px;
	margin-bottom: 15px;
}
