:root {

	--text-color:#ffffff;		// Colour of primary text
	--back-color:#000000;		// Background page colour
	--light-color:#151517;		// Colour of dark text in boxes
	--dark-color:#151517;		// Colour of dark text in boxes
	--faint-color:#8A8F98;		// Colour of faint text
	--hover-color:#ff009e;		// Colour of links when hovering
	--popup-color:#151517;		// Colour of popup modal window
	--coder-color:#151517;		// Colour of code box elements
	--boxes-color:#151517;		// Colour of content box elements
	--input-color:#151517;		// Colour input form elements
	--split-color:#151517;		// Colour of border lines in split code boxes
	--darker-color:#1D1D1F;	// Colour of content boxes inside content boxes
	--border-color:#1e2327;	// Colour of border separation lines
	--sidebar-color:#151517;	// Colour of mobile sidebar menu
	--footer-color:#000000;	// Colour of footer
	--same-color:#ffffff;		// Same colourfrom light to dark mode
	--black-color:#000000;		// Same colourfrom light to dark mode
	--lighter-color:#afb5c0;	// Same colourfrom light to dark modef

	@media (prefers-color-scheme: light) {
		--text-color:#ffffff;		// Colour of primary text
		--back-color:#000000;		// Background page colour
		--light-color:#151517;		// Colour of dark text in boxes
		--dark-color:#151517;		// Colour of dark text in boxes
		--faint-color:#8A8F98;		// Colour of faint text
		--hover-color:#ff009e;		// Colour of links when hovering
		--popup-color:#151517;		// Colour of popup modal window
		--coder-color:#151517;		// Colour of code box elements
		--boxes-color:#151517;		// Colour of content box elements
		--input-color:#151517;		// Colour input form elements
		--split-color:#151517;		// Colour of border lines in split code boxes
		--darker-color:#1D1D1F;	// Colour of content boxes inside content boxes
		--border-color:#1e2327;	// Colour of border separation lines
		--sidebar-color:#151517;	// Colour of mobile sidebar menu
		--footer-color:#000000;	// Colour of footer
		--same-color:#ffffff;		// Same colourfrom light to dark mode
		--black-color:#000000;		// Same colourfrom light to dark mode
		--lighter-color:#afb5c0;	// Same colourfrom light to dark modef
	}

	@media (prefers-color-scheme: dark) {
		--text-color:#ffffff;		// Colour of primary text
		--back-color:#000000;		// Background page colour
		--light-color:#151517;		// Colour of dark text in boxes
		--dark-color:#151517;		// Colour of dark text in boxes
		--faint-color:#8A8F98;		// Colour of faint text
		--hover-color:#ff009e;		// Colour of links when hovering
		--popup-color:#151517;		// Colour of popup modal window
		--coder-color:#151517;		// Colour of code box elements
		--boxes-color:#151517;		// Colour of content box elements
		--input-color:#151517;		// Colour input form elements
		--split-color:#151517;		// Colour of border lines in split code boxes
		--darker-color:#1D1D1F;	// Colour of content boxes inside content boxes
		--border-color:#1e2327;	// Colour of border separation lines
		--sidebar-color:#151517;	// Colour of mobile sidebar menu
		--footer-color:#000000;	// Colour of footer
		--same-color:#ffffff;		// Same colourfrom light to dark mode
		--black-color:#000000;		// Same colourfrom light to dark mode
		--lighter-color:#afb5c0;	// Same colourfrom light to dark modef
	}

}
