<Crumb>
	<Crumb::Item @link="docs">Documentation</Crumb::Item>
	<Crumb::Item @link="docs.surrealql">SurrealQL</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements">Statements</Crumb::Item>
	<Crumb::Item @link="docs.surrealql.statements.show"><code>SHOW</code> statement</Crumb::Item>
</Crumb>

<Layout::Text text-l text-f>
    <h2><code>SHOW</code> statement</h2>
	<p>The <code>SHOW</code> statement can be used to  replay changes made to the table.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Statement syntax</h3>
	<Code @name="docs/surrealql/statements/show/syntax.typescript" text="Surql Syntax" />
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>

	<h3>Example usage</h3>

	<h4>Basic usage</h4>
	<p>The following expression shows usugae of Show statment.</p>
	<Code @name="docs/surrealql/statements/show/simple.surql" />
</Layout::Text>

<Layout::Gap large />
