layout-hero {

	width:100%;
	display:block;
	position:relative;
	background-size:cover;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;

	@include media(max-width-960) {
		height:auto;
		padding:0px 0 50px 0;
	}

	&[index] {
		height:auto;
		padding:120px 0 150px 0;
		background:linear-gradient(-60deg, rgba(255,0,160,1) 0%, rgba(135,0,255,0.8) 50%, rgba(0, 0, 0, 0.4) 110%);

		@include media(max-width-960) {
			height:auto;
			padding:120px 0 50px 0;
		}
		
	}

	&[products] {
		height:auto;
		padding:120px 0 150px 0;
		background:linear-gradient(-60deg, rgba(255,0,160,1) 0%, rgba(135,0,255,0.8) 50%, rgba(0, 0, 0, 0.4) 110%);

		@include media(max-width-960) {
			height:auto;
			padding:120px 0 50px 0;
		}

	}

	&[lq], &[cf], &[ix], &[ml] {
		height:auto;
		padding:120px 0 150px 0;
		background:linear-gradient(-60deg, rgba(255,0,160,1) 0%, rgba(135,0,255,0.8) 50%, rgba(0, 0, 0, 0.4) 110%);

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 0 50px 0;
		}
		
	}

	&[install], &[releases], &[license], &[security], &[docs], &[features], &[opensource], &[media] {
		height:auto;
		padding:120px 0 150px 0;
		background:linear-gradient(-60deg, rgba(255,0,160,1) 0%, rgba(135,0,255,0.8) 50%, rgba(0, 0, 0, 0.4) 110%);

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 0 50px 0;
		}

	}

	&[careers] {
		height:auto;
		padding:350px 0 150px 0;
		background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("/static/img/careers/hero.jpg");

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 0 50px 0;
		}
	}

	&[world] {
		height:auto;
		padding:350px 60px 150px 60px;
		background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("/static/img/surreal1.0.jpg");

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 40px 25px 40px;
		}
	}

	&[team] {
		height:auto;
		padding:350px 0 150px 0;
		background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/static/img/team/hero.jpg");

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 0 50px 0;
		}
	}

	&[community] {
		height:auto;
		padding:350px 0 150px 0;
		background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("/static/img/community/hero.jpg");

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 0 50px 0;
		}
	}

	&[gettingstarted] {
		height:100%;
		background-size:2000px;
		padding:450px 0 450px 0;
		background-image:url("/static/img/illustrations/gettingstarted.png");
	}

	&[blog] {
		height:auto;
		padding:350px 0 150px 0;
		background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("/static/img/blog/hero.jpg");

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 0 50px 0;
		}
	}

	content {

		margin-top:100px;

		@include media(max-width-768) {
			margin-top:50px;
		}

		a[button] {

			font-size:18px;
			padding:15px 40px;
			margin:0 25px 25px 0;

			@include media(max-width-768) {
				margin:0 0px 15px 0;
			}

		}

		h1 {

			width:80%;
			line-height:1;
			font-size:90px;
			margin:0 0 10px 0;
			font-family:'SF Pro Display';

			img {
				height:45px;
			}

			span[underline] {

				background:-moz-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
				background:-webkit-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
				background:linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;

			}

			@include media(max-width-1250) {
				width:90%;
			}

			@include media(max-width-962) {
				width:100%;
				font-size:70px;
			}

			@include media(max-width-768) {
				font-size:52px;
			}

		}

		h2 {

			width:80%;
			font-size:28px;

			@include media(max-width-1250) {
				width:100%;
			}
			
			@include media(max-width-768) {
				font-size:24px;
			}

		}

		h3 {

			width:80%;
			font-size:24px;
			color:var(--text-color);

			@include media(max-width-1250) {
				width:100%;
			}

		}

		p {

			width:100%;
			font-size:18px;
			margin-bottom:30px;
			color:var(--faint-color);

		}

		e {
			padding-right:10px;
		}

	}

}
