layout-hero {

	width:100%;
	display:block;
	position:relative;
	background-size:cover;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;

	@include media(max-width-960) {
		height:auto;
		padding:0px 0 50px 0;
	}

	&[index] {
		height:100vh;
		display:flex;
		align-items:center;
		flex-direction:column;
		justify-content:center;
		background-image:url("/static/img/illustrations/hero.png"), linear-gradient(-60deg, rgba(255, 0, 160, 1) 0%, rgba(135, 0, 255, 0.8) 50%, rgba(0, 0, 0, 0.4) 110%);
		
		@include media(max-width-1301) {
			background-image:url("/static/img/illustrations/hero1.png"), linear-gradient(-60deg, rgba(255, 0, 160, 1) 0%, rgba(135, 0, 255, 0.8) 50%, rgba(0, 0, 0, 0.4) 110%);
		}

		@include media(max-width-960) {
			height:auto;
			padding:50px 0 100px 0;
			background:linear-gradient(-60deg, rgba(255, 0, 160, 1) 0%, rgba(135, 0, 255, 0.8) 50%, rgba(0, 0, 0, 0.4) 110%);
		}
	
		content {
			margin-top:0px;
			text-align:center;
	
			@include media(max-width-960) {
				text-align:left;
				margin-top:50px;
			}
	
			a[button] {
				font-size:18px;
				padding:15px 40px;
				margin:0 10px 10px 10px;
	
				@include media(max-width-960) {
					margin:0 10px 10px 0;
				}
			}
		}
	}
	

	&[products] {
		height:auto;
		padding:120px 0 150px 0;
		background:linear-gradient(-60deg, rgba(255,0,160,1) 0%, rgba(135,0,255,0.8) 50%, rgba(0, 0, 0, 0.4) 110%);

		@include media(max-width-960) {
			height:auto;
			padding:120px 0 50px 0;
		}

	}

	&[lq], &[cf], &[ix], &[ml] {
		height:auto;
		padding:120px 0 150px 0;
		background:linear-gradient(-60deg, rgba(255,0,160,1) 0%, rgba(135,0,255,0.8) 50%, rgba(0, 0, 0, 0.4) 110%);

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 0 50px 0;
		}
		
	}

	&[install], &[releases], &[license], &[security], &[docs], &[features], &[opensource], &[media], &[giveaway] {
		height:auto;
		padding:120px 0 150px 0;
		background:linear-gradient(-60deg, rgba(255,0,160,1) 0%, rgba(135,0,255,0.8) 50%, rgba(0, 0, 0, 0.4) 110%);

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 0 50px 0;
		}

	}

	&[careers] {
		height:auto;
		padding:350px 0 150px 0;
		background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("/static/img/careers/hero.jpg");

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 0 50px 0;
		}
	}

	&[casestudies] {
		height:100%;
		padding:350px 0 150px 0;
		background-image:linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%), url("/static/img/jules.jpg");

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 0 50px 0;
		}

	}

	&[world] {
		height:auto;
		padding:350px 60px 150px 60px;
		background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("/static/img/surreal1.0.jpg");

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 40px 25px 40px;
		}
	}

	&[events] {
		height:auto;
		padding:350px 60px 150px 60px;
		background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("/static/img/community/techandtunes.jpg");

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 40px 25px 40px;
		}
	}

	&[team] {
		height:auto;
		padding:350px 0 150px 0;
		background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/static/img/team/hero.jpg");

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 0 50px 0;
		}
	}

	&[community] {
		height:auto;
		padding:350px 0 150px 0;
		background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("/static/img/community/hero.jpg");

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 0 50px 0;
		}
	}

	&[gettingstarted] {
		height:auto;
		padding:250px 80px 250px 80px;
		background-image:url("/static/img/illustrations/gettingstarted.jpg");

		@include media(max-width-960) {
			padding:250px 40px 250px 40px;
		}
	}

	&[blog] {
		height:auto;
		padding:350px 0 150px 0;
		background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("/static/img/blog/hero.jpg");

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 0 50px 0;
		}
	}

	&[yaacomm] {
		height:auto;
		padding:350px 0 150px 0;
		background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("/static/img/jules.jpg");
		background-color:#000000;

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 0 50px 0;
		}
	}

	&[julian] {
		height:auto;
		padding:350px 60px 100px 60px;
		background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("/static/img/studio.jpg");

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 40px 25px 40px;
		}
	}

	&[stories] {
		height:auto;
		padding:350px 60px 50px 60px;
		background-image:linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%), url("/static/img/stories.jpg");

		@include media(max-width-960) {
			top:0px;
			height:auto;
			padding:120px 40px 25px 40px;
		}
	}

	content {

		margin-top:100px;
		

		@include media(max-width-768) {
			margin-top:50px;
		}

		a[button] {

			font-size:18px;
			padding:15px 40px;
			margin:0 10px 10px 0px;

		}

		h1 {

			width:80%;
			line-height:1;
			font-size:90px;
			margin:0 0 10px 0;
			font-family:'SF Pro Display';

			img {
				height:45px;
			}

			span[underline] {

				background:-moz-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
				background:-webkit-linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
				background:linear-gradient(-60deg, rgba(135,0,255,1) 0%, rgba(255,0,158,1) 100%);
				-webkit-background-clip:text;
				background-clip:text;
				-webkit-text-fill-color:transparent;

			}

			@include media(max-width-1250) {
				width:90%;
			}

			@include media(max-width-962) {
				width:100%;
				font-size:70px;
			}

			@include media(max-width-768) {
				font-size:52px;
			}

		}

		h2 {

			width:80%;
			font-size:28px;

			@include media(max-width-1250) {
				width:100%;
			}

			@include media(max-width-962) {
				font-size:24px;
			}
			
			@include media(max-width-768) {
				font-size:24px;
			}

		}

		h3 {

			width:80%;
			font-size:24px;
			color:var(--text-color);

			@include media(max-width-1250) {
				width:100%;
			}

		}

		h4 {

			font-size:22px;
			font-weight:600;
			line-height:1.2;
			font-family:"SF Pro Display";
			transition:color 0.3s;
			color:var(--text-color);
			text-rendering:optimizeLegibility;
			-webkit-font-smoothing:antialiased;
		
			img[inline] {
				height:16px;
			}
		
			i {
				vertical-align:middle;
			}
		
			span[faint] {
				color:var(--faint-color);
			}
		
			&[nhs] {
				width:100%;
				color:var(--faint-color);
			}
		
			@include media(max-width-768) {
				font-size:20px;
		
				img[inline] {
					height:12px;
				}
			}
		
		}

		p {

			width:100%;
			font-size:18px;
			margin-bottom:30px;
			color:var(--faint-color);

		}

		e {
			padding-right:10px;
		}

	}

}
