layout-testimonials {

	width:100%;
	display:block;
	position:relative;
	padding:0px 0 0px 0;
	background-position: right;
	background-repeat:no-repeat;
	background:linear-gradient(-60deg, rgba(255,0,160,1) 0%, rgba(135,0,255,0.8) 50%, rgba(0, 0, 0, 0.4) 110%);

	content {

		display:block;
		position:relative;
		margin:0px auto 0px auto;

		> app-masonry {

			display:block;
			overflow:visible;
			position:relative;

			> app-masonry-view {

				display:block;
				overflow:visible;
				position:relative;

				> app-masonry-area {

					display:block;
					overflow:visible;

					> app-masonry-item {

						display:block;
						overflow:visible;
						width:calc( (100% / 3) - 20px );

						@include media(max-width-1300) {
							width:calc( (100% / 2) - 20px );
						}

						@include media(max-width-850) {
							width:100%;
						}

						> a {

							width:100%;
							display:flex;
							overflow:visible;

							> layout-testimonials-item {

								transform:translateZ(0);
								transition:box-shadow 0.3s;

								&:hover {

									img {
										transform:scale(1.05);
									}

								}

							}

						}

						> a > layout-testimonials-item, > layout-testimonials-item {

							z-index:1;
							width:100%;
							padding:35px;
							display:block;
							overflow:hidden;
							text-align:left;
							position:relative;
							margin:0px 0 30px 0;
							border-radius:0px;
							background-color:rgba(0, 0, 0, 0.1);

							> div {

								position:relative;
								flex-direction:row;

								> div:nth-of-type(1) {

									width:48px;
									flex-shrink:0;

								}

								> div:nth-of-type(2) {

									> div:nth-of-type(1) {

										display:flex;
										line-height:1;
										flex-wrap:wrap;

										text {
											font-size:24px;
											line-height:1.2;
											font-weight:500;
											transition:color 0.3s;
											color:var(--same-color);
										}

									}

									> div:nth-of-type(2) {

										display:flex;
										padding-top:40px;

										name {
											display:block;
											font-size:19px;
											color:#ffffff;
										}

									}

									> div:nth-of-type(3) {

										display:flex;
										padding-top:10px;

										user {
											width:70%;
											display:block;
											font-size:16px;
											margin-right: 20px;
											transition:color 0.3s;
											color:rgba(255, 255, 255, 0.6);
										}

									}

									> div:nth-of-type(4) {

										display:flex;
										padding-top:0px;
										padding-bottom:40px;

										img {
											right:0;
											height:40px;
											
											position:absolute;
										}

									}

								}

							}

							&:hover {

								div {

									> div:nth-of-type(2) {

										> div:nth-of-type(1) {

											name:first-child, user:first-child {
												transition:color 0.3s;
												color:var(--hover-color);
											}

										}

									}

								}

							}

						}

					}

				}

			}

		}

	}

}
