layout-videos {

	display: block;

	content {

		display: grid;
		grid-gap: 10px 10px;
		grid-template-columns: repeat(12, 1fr);

		>a {

			display: flex;
			grid-column: auto / span 2;

			>layout-videos-item {

				transition: box-shadow 0.3s;

				&:hover {

					transform: translateZ(0);

					img {
						transform: scale(1.05);
					}

				}

			}

		}

		>a>layout-videos-item,
		>layout-videos-item {

			z-index: 1;
			width: 100%;
			display: block;
			overflow: hidden;
			text-align: left;
			position: relative;
			grid-column: auto / span 2;
			background-color: var(--dark-color);

			pic {

				display: block;
				max-width: 100%;
				overflow: hidden;
				position: relative;

				display: flex;
				justify-content: center;
				align-items: center;


				img {
					width: 100%;
					height: 100%;
					display: block;
					max-width: 100%;
					object-fit: cover;
					transition: transform 0.3s;
				}

				cover {
					z-index:1;
					width:100px;
					height:100px;
					display:block;
					position:absolute;
					border-radius:100%;
					background-size:50% 50%;
					background-repeat:no-repeat;
					background-position:60% center;
					background-color:rgba(255,255,255,0.25);
					background-image:url('/static/img/play.svg');
				}

			}

			&[clear] {

				background-color: transparent;

				div {
					padding-left: 15%;
					padding-right:15%;
					padding-bottom: 5%;
					padding-top: 5%;

					>h3 {
						color: var(--text-color);
					}

					>h4 {
						color: var(--text-color);
					}

					>p:last-child {
						width:95%;
						color: var(--text-color);
					}

					>p:first-child {
						width:95%;
						color: var(--text-color);
					}
				}

			}

			&[team] {

				height:auto;
				background-size:cover;
  				background-position: center;

				div {
					padding: 30px;

					>h3 {
						font-size: 22px;
						margin-bottom:0px;
						color: var(--same-color);
					}
	
					>h4 {
						color: var(--lighter-color);
					}

					>p:last-child {
						width:95%;
						color: var(--lighter-color);
					}
	
					>p:first-child {
						width:95%;
						color: var(--lighter-color);
					}

					p {
						width:95%;
						color:var(--same-color);
					}
				}
			}

			&[dark] {
				background-color:var(--dark-color);
				div {

					padding:90px;
				}

			}

			&[darker] {
				background-color:#0b0b0c;
			}

			&[wider] {

				border-radius: 0px;
				margin-bottom: 100px;
				background-color:var(--back-color);

				@include media(max-width-960) {
					margin-bottom: 50px;
				}

				div {
					padding: 0px;

					@include media(max-width-1200) {
						width:930px;
					}

					@include media(max-width-1024) {
						width:85%;
					}

					>h3 {
						color: var(--same-color);
					}

					>h4 {
						color: var(--same-color);
					}

					>p:last-child {
						width:95%;
						color: var(--same-color);
					}

					>p:first-child {
						width:95%;
						color: var(--same-color);
					}

					@media (prefers-color-scheme: light) {
						>h3 {
							color: var(--text-color);
						}

						>h4 {
							color: var(--text-color);
						}

						>p:last-child {
							width:95%;
							color: var(--faint-color);
						}

						>p:first-child {
							width:95%;
							color: var(--faint-color);
						}
					}

				}

				pic {

					display: block;
					width: 110px;
					overflow: hidden;
					position: relative;
					padding-bottom: 20px;
					border-radius: 0px;
					background-color:none

					img {
						width: 100%;
						margin: auto;
						height: 100%;
						display: block;
						max-width: 100%;
						object-fit: cover;
						transition: transform 0.3s;
					}

				}
			}

			div {

				padding-top: 40px;
				padding-left: 40px;
				padding-right: 40px;
				padding-bottom: 60px;

				@include media(max-width-1024) {
					padding: 30px;
				}

				p:not(:last-child) {
					margin-bottom: 0px;
				}

				>h3 {
					font-size: 26px;
					font-weight: 600;
					line-height: 1.2;
				}

				h5:not(:last-child) {
					margin: 0;
					width:100%;
					font-size: 22px;
					font-weight: 600;
					margin-bottom: 5px;
				}

				>h4 {
					font-size: 19px;
					font-weight: 500;
					line-height: 1.2;
					margin-bottom: 0px;
					color: var(--lighter-color);
				}

				h4:not(:last-child) {
					margin-bottom: 0px;
				}

				>p:last-child {
					font-size: 17px;
				}

				>p:first-child {
					font-size: 17px;
					padding-bottom: 0;
					margin-bottom: 5px;
					display: inline-block;
					color: var(--faint-color);
				}

			}

			&[hover]:hover {

				h3,
				h4 {
					color: var(--hover-color);
				}
			}

			&[faded] {
				opacity: 0.5;
			}

			&[mini] div {
				padding: 30px 40px;
			}

			&[tick] div h3 img {
				margin: 0 10px 0 0;
			}

			&[tick] div h4 img {
				margin: 0 10px 0 0;
			}

		}

	}

	&[cols-4-to-2-to-1] content>a,
	&[cols-4-to-2-to-1] content>layout-videos-item {

		grid-column: auto / span 3;

		&[full] {
			grid-column: auto / span 12;
		}

		&[half] {
			grid-column: auto / span 6;
		}

		@include media(min-width-1050 max-width-1200) {

			&[full][side] {

				pic {

					img {
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						position: absolute;
					}

				}

			}

		}

		@include media(min-width-1050) {

			&[full][side] {

				pic {

					float: left;
					width: 67.7%;
					min-height: 100%;

					&:only-child {
						width: 100%;
					}

				}

				div {
					margin: 0;
					width: 32.3%;
					float: right;
				}

			}

		}

		@include media(max-width-1250) {

			grid-column: auto / span 6;

			&[full] {
				grid-column: auto / span 12;
			}

			&[half] {
				grid-column: auto / span 6;
			}

		}

		@include media(max-width-768) {

			grid-column: auto / span 12;

			&[full] {
				grid-column: auto / span 12;
			}

			&[half] {
				grid-column: auto / span 12;
			}

		}

	}

	&[cols-3-to-2-to-1] content>a,
	&[cols-3-to-2-to-1] content>layout-videos-item {

		grid-column: auto / span 4;

		&[full] {
			grid-column: auto / span 12;
		}

		&[half] {
			grid-column: auto / span 6;
		}

		@include media(min-width-1050 max-width-1200) {

			&[full][side] {

				pic {

					img {
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						position: absolute;
					}

				}

			}

		}

		@include media(min-width-1050) {

			&[full][side] {

				pic {

					float: left;
					width: 67.7%;
					min-height: 100%;

					&:only-child {
						width: 100%;
					}

				}

				div {
					margin: 0;
					width: 32.3%;
					float: right;
				}

			}

		}

		@include media(max-width-1650) {

			grid-column: auto / span 6;

			&[full] {
				grid-column: auto / span 12;
			}

			&[half] {
				grid-column: auto / span 6;
			}

		}

		@include media(max-width-768) {

			grid-column: auto / span 12;

			&[full] {
				grid-column: auto / span 12;
			}

			&[half] {
				grid-column: auto / span 12;
			}

		}

	}

	&[cols-3-to-1] content>a,
	&[cols-3-to-1] content>layout-videos-item {

		grid-column: auto / span 4;

		&[full] {
			grid-column: auto / span 12;
		}

		&[half] {
			grid-column: auto / span 6;
		}

		@include media(max-width-1300) {

			grid-column: auto / span 12;

			&[full] {
				grid-column: auto / span 12;
			}

			&[half] {
				grid-column: auto / span 12;
			}

		}

	}

	&[cols-2-to-1] content>a,
	&[cols-2-to-1] content>layout-videos-item {

		grid-column: auto / span 6;

		&[full] {
			grid-column: auto / span 12;
		}

		&[half] {
			grid-column: auto / span 6;
		}

		@include media(max-width-1000) {

			grid-column: auto / span 12;

			&[full] {
				grid-column: auto / span 12;
			}

			&[half] {
				grid-column: auto / span 12;
			}

		}

	}

	&[cols-1] content>a,
	&[cols-1] content>layout-videos-item {

		grid-column: auto / span 12;

	}

}
