<layout-testimonials ...attributes>

	<Layout::Gap large />

	<Layout::Text text-l>
		<h1>Loved by developers</h1>
	</Layout::Text>

	<Layout::Gap small />

	<content>
		<h5>"Here at Yaacomm we are already using SurrealDB in a significant way for our backend infrastructure, however I believe SurrealDB can play an even bigger role in other areas as well. Being able to embed SurrealDB locally in Android and iOS apps could make it a perfect fit for local caching. Additionally, this would provide us with all the benefits of SurrealDB such as full-text searching and its graph based nature without relying on a network connection."</h5>
		<h4>Julian Mills, Lead Developer at Yaacomm</h4>
		<img src="/static/img/logos/yaacomm.png" width={{100}} alt>
		<Layout::Gap mini />
		<Button::Thicker @link={{"yaacomm"}}>
			<span>View the case study</span> <i class="fas fa-arrow-right"></i>
		</Button::Thicker>
	</content>

	<Layout::Gap small />

	<content route={{route-name}}>
		{{yield}}
	</content>

	<Layout::Gap large />

</layout-testimonials>