<section pink>

	<Layout::Gap large />

	<Layout::Text>
	 	<h1>We are building SurrealDB for everyone</h1>
		<p white>SurrealDB is being built in the open. We would love for you to be involved.</p>
		<Button::Thicker @link={{url "github"}}>
			<i class="fa fa-star"></i> <span>Star us on GitHub</span>
		</Button::Thicker>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<Button::Thicker @link="opensource">
			<span>View our open source projects</span> <i class="fas fa-arrow-right"></i>
		</Button::Thicker>
	</Layout::Text>

	<Layout::Gap large />

</section>