<Meta::Tags
	@title="SurrealDB | Code of Conduct"
	@description="SurrealDB strongly values all of its community members and aims to provide events, live and online, that support the growth of this community. As contributors, we aim to act and interact in ways that promote a healthy, diverse, accessible and inclusive community for all."
/>

<Layout::Hero license>
	<Layout::Text text-l>
		<h1>Code of Conduct</h1>
		<h2>Last updated: September 12th, 2023</h2>

		<h2>SurrealDB strongly values all of its community members and aims to provide events, live and online, that support the growth of this community. As contributors, we aim to act and interact in ways that promote a healthy, diverse, accessible and inclusive community for all.</h2>

		<h2>We are committed to making participation in our community a harassment-free environment for everyone, regardless of gender, gender identity and expression, race, ethnicity, religion, age, body size, sexual orientation, ability, socioeconomic status, nationality or personal appearance. We will not tolerate discrimination or harassment towards any participant or member of our team at any and all of our events.</h2>
	</Layout::Text>
</Layout::Hero>

<Layout::Gap medium />

<Layout::Text text-l text-f>
	<h3>Forms of Harassment, Discrimination & Abusive Behaviour</h3>

	<p>Forms of harassment include sexual language and imagery, sexist, racist, and exclusionary jokes and acts that insult or belittle other event attendees or staff in any way. These are unacceptable at any and all SurrealDB events. Other forms of harassment and discriminatory and abusive behaviour include but are not limited to offensive verbal comments related to gender, gender identity and expression, race, ethnicity, religion, age, body size, sexual orientation, ability, socioeconomic status, nationality or personal appearance; sexual images in public spaces; deliberate intimidation; stalking; following; unwarranted photography or recording; sustained disruption of event programming; inappropriate physical contact; unwelcome sexual attention; disrespecting the event space and its contents; and abuse of alcohol.</p>

	<p>SurrealDB events are tech-focused and are conducted in a professional manner to benefit industry professionals or prospective individuals. For this reason, we reserve the right to request proof of identity and/or professional background upon entry, to ensure that opportunities are not being exploited at the expense of individuals with genuine interest and intent.</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Enforcement</h3>

	<p>Participants asked to stop any behaviour mentioned above are expected to comply immediately and may be expelled from the event at the discretion of the event organisers. Any instances of abuse or harassment that go unnoticed by our event staff may be reported to <a href="mailto:lizzie@surrealdb.com">lizzie@surrealdb.com</a>. All complaints will be reviewed and investigated fairly and promptly. </p>

	<p>Attendees who do not follow the Code of Conduct in good faith may face temporary or permanent repercussions as determined by other members of the project's leadership.</p>

	<p>Code of Conduct violations and associated penalties typically fall into one of the following categories:</p>
	<ol>
		<li>Warning - For first-time, minor violations, the offender will receive a warning with consequences for continued behaviour.</li>
		<li>Suspension - Repeated minor violations and first-time more serious violations may result in the temporary removal from the event.</li>
		<li>Removal/Ban - Actions that are seriously harmful to individuals in the community or the community as a whole will lead to a permanent ban from any sort of public interaction within the community.</li>
	</ol>

	<p>All actions will be taken on a case-by-case basis at the discretion of the moderators.</p>
	<p>Thank you for helping make this a welcoming and friendly community for everyone!</p>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l text-f>
	<h3>Contact us</h3>
	<p>If you have any questions about this Code of Conduct, you can contact us: </p>
	<p>by email: <u>info@{{brand "domain"}}</u></p>
</Layout::Text>

<Layout::Gap medium />
