<Meta::Tags>
	<title>SurrealDB | Page Not Found | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | Page Not Found">
	<meta name="description" content="The page you requested could not be found.">
</Meta::Tags>

<Layout::Hero install>
	<Layout::Text text-l>
		<h1>Oops we couldn't<br>find that page</h1>
		<h2>Use the menu to the top and bottom of the site to find the desired page.</h2>
	</Layout::Text>
</Layout::Hero>