<Meta::Tags
	@title="SurrealDB | About Us"
	@description="We have led and delivered large-scale software and design projects in multiple startups and high-growth environments."
/>

<Layout::Head about>
	<h1>
		<br>
		[S<span class="italic">uh</span>-ree-<span class="italic">uh</span>l];
		<br>
		unreal, fantastic
	</h1>
</Layout::Head>

<Layout::Gap large />
<Layout::Gap large />

<Layout::Text text-l>
	<h5 light>SurrealDB is a powerful multi-model database, built for the cloud, and designed to improve the developmentprocess of traditional and modern applications. SurrealDB’s premise is that developers should be able to build secure, modern, collaborative applications without needing to build complicated backend APIs and database layers, and without being forced into using a single data model or cloud platform.</h5>
</Layout::Text>

<Layout::Gap large />

<content light>

	<img src="/static/img/illustrations/icons.png" style="background-color:var(--dark-color)" />

	<Layout::Gap mini />

</content>

<Layout::Gap large />
<Layout::Gap large />