<Meta::Tags @image="https://surrealdb.com/static/img/preview/main.jpg">
	<title>SurrealDB | Careers | The ultimate serverless multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | Careers">
	<meta name="description" content="Join the fastest-growing database company of all time">
</Meta::Tags>

<Layout::Hero careers>
	<Layout::Text text-l>
		<h1>
			Careers at Surreal
		</h1>
		<h2>Join the fastest-growing database company of all time. We are seeking to gradient hire the best - people who care deeply about the work they do, and care about the people with whom they create and promote the product.</h2>
	</Layout::Text>
</Layout::Hero>

<section clear>

	<Layout::Gap small />

	<Layout::Boxes cols-2-to-1>
		<Layout::Boxes::Item careers2 @title="What is SurrealDB?" @image="/static/img/img.png" @text="The field of database technology is vast and ever-evolving, with SurrealDB leading the charge in innovation and sparking major transformations. At this time, SurrealDB is experiencing exponential growth, positioning it as the fastest-growing database in history. As the pioneering force in the next generation of serverless databases, SurrealDB is set to redefine the landscape of database technology." />
		<Layout::Boxes::Item careers3 @title="Making an impact" @image="/static/img/img.png" @text="Seize the opportunity to become part of the SurrealDB team and realise the potential of your impact, not just within the company, but on the global community at large. With SurrealDB, you're not just embracing the future of serverless databases, you are helping to shape it." />
	</Layout::Boxes>

	<Layout::Gap line />

	<Layout::Boxes cols-3-to-2-to-1>
		<Layout::Boxes::Item white @image="/static/img/careers/careers1.png"  />
		<Layout::Boxes::Item white @image="/static/img/careers/careers2.png" />
		<Layout::Boxes::Item white @image="/static/img/careers/careers3.png" />
		<Layout::Boxes::Item white @image="/static/img/careers/careers4.png" />
		<Layout::Boxes::Item white @image="/static/img/careers/careers5.png" />
		<Layout::Boxes::Item white @image="/static/img/careers/careers6.png" />
	</Layout::Boxes>

	<Layout::Gap large />

	<section pink>

		<Layout::Gap small />

		<Layout::Github />

		<Layout::Gap small />

	</section>

</section>