<Meta::Tags>
	<title>SurrealDB | Careers | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | Careers">
	<meta name="description" content="Join the fastest-growing database company of all time.">
</Meta::Tags>

<Layout::Hero careers>
	<Layout::Text text-l>
		<h1>
			Careers at Surreal
		</h1>
		<h2>Join the fastest-growing database company of all time. We are seeking to hire the best - people who care deeply about the work they do, and care about the people with whom they create and promote the product.</h2>
	</Layout::Text>
</Layout::Hero>

<section>

	<Layout::Gap large />

	<content>
		<h5 hundred>SurrealDB comprises an exceptionally talented team of engineers and accomplished leaders, each boasting a rich background in the realms of databases and cloud services, having previously excelled at renowned organisations including AWS, Cloudflare, Elastic, IBM, LinkedIn, Neo4j, Netlify, Redis, Snowflake, Xata, Yahoo, and many more.</h5>
	</content>

	<Layout::Gap small />

	<Layout::Boxes cols-2-to-1>
		<Layout::Boxes::Item careers2 @title="What is SurrealDB?" @image="/static/img/img.png" @text="The field of database technology is vast and ever-evolving, with SurrealDB leading the charge in innovation and sparking major transformations. At this time, SurrealDB is experiencing exponential growth, positioning it as the fastest-growing database in history. As the pioneering force in the next generation of serverless databases, SurrealDB is set to redefine the landscape of database technology." />
		<Layout::Boxes::Item careers3 @title="Making an impact" @image="/static/img/img.png" @text="Seize the opportunity to become part of the SurrealDB team and realise the potential of your impact, not just within the company, but on the global community at large. With SurrealDB, you're not just embracing the future of serverless databases, you are helping to shape it." />
	</Layout::Boxes>

	<Layout::Gap line />

	<content>
		<img src="/static/img/careers/meettheteam.jpg" width="100%" />
	</content>

	<Layout::Gap large />

	<Layout::Text text-l>
		<h5>"When I first learned about SurrealDB last fall, it looked like an excellent open-source database that did many things in one database. I wanted it to be real!  I sent a pull request to add support for it, followed by an unsolicited design proposal to implement a scalable 'change feeds' feature on top of it. A few months later, I became a full-time SurrealDB employee. Today, I'm one of the SurrealDB maintainers because I want to build a database of my dreams with you."</h5>
		<h4><span faint>Yusuke Kuoka, Senior Software Engineer at SurrealDB</span></h4>
	</Layout::Text>

	<Layout::Gap large />

	<Layout::Boxes cols-1>
		<Layout::Boxes::Item @image="/static/img/careers/careers7.jpg" hover />
	</Layout::Boxes>

	<Layout::Gap large />

</section>

<section dark>

	<Layout::Gap large />

	<Layout::Boxes cols-2-to-1>
		<Link @link="community" mini>
			<Layout::Boxes::Item community @title="Community" @image="/static/img/img.png" @text="Join our community of maintainers, contributors, users, and surreal enthusiasts and help us make SurrealDB better for developers and organisations all around the world." @buttontext="Join the community" @url="community" />
		</Link>
		<Link @link="team" mini>
			<Layout::Boxes::Item team1 @title="Meet the team" @image="/static/img/img.png" @text="SurrealDB comprises an exceptionally talented team of engineers and accomplished leaders, each boasting a rich background in the realms of databases and cloud services." @buttontext="Meet the team" @url="team" />
		</Link>
	</Layout::Boxes>

	<Layout::Gap large />

</section>