<Meta::Tags>
	<title>SurrealDB | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | The ultimate multi-model database for tomorrow's applications">
	<meta name="description" content="SurrealDB is the ultimate database for tomorrow's serverless, jamstack, single-page, and traditional applications.">
</Meta::Tags>

<Layout::Hero index>
	<Layout::Text index>
		<h1>The ultimate<br>multi-model database</h1>
		<h2>Develop easier. Build faster. Scale quicker.</h2>
		<Button::Thicker @link="features">
			<i class="fal fa-list-check"></i> <span>View all features</span>
		</Button::Thicker>
		<Button::Thicker @link="docs.introduction.start">
			<span>Get started with SurrealDB</span> <i class="fas fa-arrow-right"></i>
		</Button::Thicker>
	</Layout::Text>
</Layout::Hero>

<section>

	<Layout::Gap large />

	<Layout::Text text-l>
		<h5 light>SurrealDB offers a dynamic and adaptable platform for business. With an integrated suite of cutting-edge database solutions, tools, and services, SurrealDB empowers your workforce to discover innovative answers using products meticulously crafted to meet their requirements.</h5>
	</Layout::Text>

	<Layout::Gap small />

	<Layout::Boxes cols-3-to-2-to-1>
		<Link @link="docs.surrealql" mini>
			<Layout::Boxes::Item transparent @image="/static/img/products/ql.png" @text="The query language in SurrealDB looks and works similarly to traditional-SQL, but allows for querying over time-series and connected graph data. SurrealQL is an advanced query language, with programming language functionality, that allows developers or data analysts to work with SurrealDB in the ways they choose." hover />
		</Link>
		<Link @link="lq" mini>
			<Layout::Boxes::Item transparent @image="/static/img/products/lq.png" @text="Live Queries in SurrealDB enable a simple yet seamless way of building modern, responsive applications, whether connecting to SurrealDB as a traditional backend database, or when connecting directly to the database from the frontend." hover />
		</Link>
		<Link @link="ix" mini>
			<Layout::Boxes::Item transparent @image="/static/img/products/ix.png" @text="SurrealDB is designed for building applications of any size - and for that, query performance, and improved data analysis workloads are key. With SurrealDB secondary indexes, you can now index data using traditional indexes, full-text search indexing, and vector-embedding search for artificial intelligence use cases." hover />
		</Link>
		<Link @link="cf" mini>
			<Layout::Boxes::Item transparent @image="/static/img/products/cf.png" @text="Change Feeds enable SurrealDB to play a role within the wider ecosystem of enterprise, cloud, or micro-service based platforms, giving users the ability to retrieve and sync changes from SurrealDB to external systems and platforms." hover />
		</Link>
		<Link @link="ml" mini>
			<Layout::Boxes::Item transparent @image="/static/img/products/ml.png" @text="SurrealML enables machine learning models to be greatly simplified, ensuring reproducibility and consistency in machine learning pipelines. Running on our Rust engine, models can be built in Python, and imported in to SurrealDB for inference within the database runtime." hover />
		</Link>
	</Layout::Boxes>

	<Layout::Gap small />

	<Layout::Boxes cols-2-to-1>
		<Layout::Boxes::Item text-l light @title="Database, realtime API layer, and security permissions all-in-one" @image="/static/img/illustrations/light/database-api-security.jpg" @imagedark="/static/img/illustrations/dark/database-api-security.jpg" @text="SurrealDB combines the database layer, the querying layer, and the API and authentication layer into one platform. Advanced table-based and row-based customisable access permissions allow for granular data access patterns for different types of users. There's no need for custom backend code and security rules with complicated database development." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="Connect and query directly from web-browsers and client devices" @image="/static/img/illustrations/light/browser-sync.jpg" @imagedark="/static/img/illustrations/dark/browser-sync.jpg" @text="Connect directly to SurrealDB from any end-user client device. Run SurrealQL queries directly within web-browsers, ensuring that users can only view or modify the data that they are allowed to access. Highly-performant WebSocket connections allow for efficient bi-directional queries, responses and notifications." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="Query the database with the tools you want. Your data, your choice." @image="/static/img/illustrations/light/multiple-integrations.jpg" @imagedark="/static/img/illustrations/dark/multiple-integrations.jpg" @text="SurrealDB is designed to be flexible to use, with support for SurrealQL, GraphQL (coming soon), CRUD support over REST, and JSON-RPC querying and modification over WebSockets. With direct-to-client connection with in-built permissions, SurrealDB speeds up the development process, and fits in seamlessly into any tech stack." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="Advanced inter-document relations and analysis. No JOINs. No pain." @image="/static/img/illustrations/light/no-joins.jpg" @imagedark="/static/img/illustrations/dark/no-joins.jpg" @text="With full graph database functionality, SurrealDB enables more advanced querying and analysis. Records (or vertices) can be connected to one another with edges, each with its own record properties and metadata. Simple extensions to traditional SQL queries allow for multi-table, multi-depth document retrieval, efficiently in the database, without the use of complicated JOINs and without bringing the data down to the client." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="Tables, documents, and graph. Store and model your data in any way" @image="/static/img/illustrations/light/multimodel-database.jpg" @imagedark="/static/img/illustrations/dark/multimodel-database.jpg" @text="As a multi-model database, SurrealDB enables developers to use multiple techniques to store and model data, without having to choose a method in advance. With the use of tables, SurrealDB has similarities with relational databases, but with the added functionality and flexibility of advanced nested fields and arrays. Inter-document record links allow for simple to understand and highly-performant related queries without the use of JOINs, eliminating the N+1 query problem." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="Simple schema definition for frontend and backend development" @image="/static/img/illustrations/light/schema-direct-to-client.jpg" @imagedark="/static/img/illustrations/dark/schema-direct-to-client.jpg" @text="With SurrealDB, specify your database and API schema in one place, and define column rules and constraints just once. Once a schema is defined, database access is automatically granted to the relevant users. No more custom API code, and no more GraphQL integration. Simple, flexible, and ready for production in minutes, not months." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="Realtime live queries and data changes direct to application" @image="/static/img/illustrations/light/realtime-live-queries.jpg" @imagedark="/static/img/illustrations/dark/realtime-live-queries.jpg" @text="SurrealDB keeps every client device in-sync with data modifications pushed in realtime to the clients, applications, end-user devices, and server-side libraries. Live SQL queries allow for advanced filtering of the changes to which a client subscribes, and efficient data formats, including DIFFing and PATCHing enable highly-performant web-based data syncing." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="Scale effortlessly to hundreds of nodes for high-availability and scalability" @image="/static/img/illustrations/light/highly-available-and-scalable.jpg" @imagedark="/static/img/illustrations/dark/highly-available-and-scalable.jpg" @text="SurrealDB can be run as a single in-memory node, or as part of a distributed cluster - offering highly-available and highly-scalable system characteristics. Designed from the ground up to run in a distributed environment, SurrealDB makes use of special techniques when handling multi-table transactions, and document record IDs - with no use of table or row locks." @buttontext="View all features"@url="features" />
		<Layout::Boxes::Item text-l light @title="Extend your database with JavaScript and WebAssembly functions" @image="/static/img/illustrations/light/database-plugins.jpg" @imagedark="/static/img/illustrations/dark/database-plugins.jpg" @text="Embedded JavaScript functions allow for advanced, custom functionality, with computation logic being moved to the data layer. This improves upon the traditional approach of moving data to the client devices before applying any computation logic, ensuring that only the necessary data is transferred remotely. These advanced JavaScript functions, with support for the ES2020 standard, allow any developer to analyse the data in ever more simple-yet-advanced ways." @buttontext="View all features" @url="features" />
		<Layout::Boxes::Item text-l light @title="Designed to be embedded or to run distributed in the cloud" @image="/static/img/illustrations/light/cloud-or-embedded.jpg" @imagedark="/static/img/illustrations/dark/cloud-or-embedded.jpg" @text="Built entirely in Rust as a single library, SurrealDB is designed to be used as both an embedded database library with advanced querying functionality, and as a database server which can operate in a distributed cluster. With low memory usage and cpu requirements, SurrealDB has been specifically designed to run in all types of environment." @buttontext="View all features" @url="features" />
	</Layout::Boxes>

</section>

<content>

	<Layout::Gap line />

	<Layout::Hero gettingstarted>
		<Layout::Text text-middle>
			<h5>SurrealDB makes building and scaling realtime apps dramatically quicker and easier. Get started by installing the server, and jump into our getting started guide to learn how to insert and query data in SurrealDB in minutes.</h5>
			<Button::Thinner @link="docs.introduction.start">
				<span>Get started</span> <i class="fas fa-arrow-right"></i>
			</Button::Thinner>
		</Layout::Text>
	</Layout::Hero>

	<Layout::Gap large />

</content>

<section dark>

	<Layout::Gap large />

	<Layout::Box cols-3-to-1>
		<Link @link="community" mini>
			<Layout::Box::Item community @title="Community" @image="/static/img/img.png" @text="Join our community of maintainers, contributors, users, and surreal enthusiasts and help us make SurrealDB better for developers and organisations all around the world." @buttontext="Join the community" @url="community" />
		</Link>
		<Link @link="careers" mini>
			<Layout::Box::Item careers1 @title="Careers" @image="/static/img/img.png" @text="We are seeking to hire the best - people who care deeply about the work they do, and care about the people with whom they create and promote the product." @buttontext="Find out more" @url="careers" />
		</Link>
		<Link @link="team" mini>
			<Layout::Box::Item team1 @title="Meet the team" @image="/static/img/img.png" @text="SurrealDB comprises an exceptionally talented team of engineers and accomplished leaders, each boasting a rich background in the realms of databases and cloud services." @buttontext="Meet the team" @url="team" />
		</Link>
	</Layout::Box>

	<Layout::Gap line />

	<content>

		<Layout::Hero world>
			<Layout::Text text-l>
				<h6 white>SurrealDB World 2023</h6>
				<br>
				<Button::Thicker @link={{url "surrealdbworld"}}>
					<span>Find out more</span> <i class="fas fa-arrow-right"></i>
				</Button::Thicker>
			</Layout::Text>
		</Layout::Hero>

	</content>

	<Layout::Gap large />

</section>

<section>

	<Section::Testimonials />

</section>