<Meta::Tags>
	<title>SurrealDB | IX | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | IX">
	<meta name="description" content="With SurrealDB secondary indexes, you can now index data using traditional indexes, full-text search indexing, and vector-embedding search for artificial intelligence use cases.">
</Meta::Tags>

<Layout::Hero ix>
	<Layout::Text text-l>
		<img src="/static/img/ix.png" width="150" />
		<br><br>
		<h1>SurrealIX</h1>
		<h2>SurrealDB is designed for building applications of any size - and for that, query performance, and improved data analysis workloads are key. With SurrealDB secondary indexes, you can now index data using traditional indexes, full-text search indexing, and vector-embedding search for artificial intelligence use cases.</h2>
		<Button::Thicker @link="features">
			<i class="fal fa-list-check"></i> <span>View all features</span>
		</Button::Thicker>
		<Button::Thicker @link="docs.introduction.start">
			<span>Get started with SurrealDB</span> <i class="fas fa-arrow-right"></i>
		</Button::Thicker>
	</Layout::Text>
</Layout::Hero>

<section black>

	<Layout::Gap large />

	<Layout::Boxes cols-3-to-2-to-1>
		<Layout::Boxes::Item text-l light @title="Support for multiple index types" @image="/static/img/products/traditional-indexing.png" @text="SurrealDB has support for traditional indexing, unique indexes and constraints, full-text search indexes, and vector-embedding indexing. We reimagined how indexing might be implemented - opting for a completely custom-built indexing engine, which sits within the SurrealDB core itself." />
		<Layout::Boxes::Item text-l light @title="Indexing support regardless of deployment environment" @image="/static/img/products/ix-embedded.png" @text="The indexing engine is agnostic to its deployment environment - whether running on top of IndexedDB in the browser, an embedded run-time in Rust or Python, or distributed over multiple nodes in a highly-scalable cluster. The indexing engine is integrated with the SurrealQL query language natively, without the need for an additional external query language, or for indexing-specific functions or plugins" />
		<Layout::Boxes::Item text-l light @title="Built within the ACID transaction model of the database" @image="/static/img/products/acid.png" @text="The indexing logic is handled directly within the ACID transaction model of the database. For a developer using SurrealDB, this means that any indexed data is consistent and in-sync with the data in the database." />
		<Layout::Boxes::Item text-l light @title="Index any of your data, however it is structured" @image="/static/img/products/unique-indexing.png" @text="For traditional and unique indexes, SurrealDB supports simple single-field indexes, multi-field compound indexes, nested object and array fields, and also has support for flattened indexing of array data." />
		<Layout::Boxes::Item text-l light @title="Full-featured full-text search built in to the core" @image="/static/img/products/full-text-search.png" @text="Using the full-text search indexing engine, SurrealDB allows developers to define custom analysers which specify exactly how their text data should be processed, with support for multiple tokenizers, advanced filters including Ngram, EdgeNGram, and Snowball, and support for 17 languages from English to Arabic." />
		<Layout::Boxes::Item text-l light @title="Integrate with ML and AI workflows with vector search" @image="/static/img/products/permissions.png" @text="With vector-embedding indexing, our initial implementation supports exact nearest neighbour retrieval for vectors of arbitrary size using Metric Trees, with support for HNSW-based approximate nearest neighbours retrieval coming in the future." />
	</Layout::Boxes>

	<Layout::Gap large />

</section>

<section dark>

	<Layout::Gap large />

	<Layout::Text text-l>
		<h5 faint>SurrealDB offers a dynamic and adaptable platform for business. With an integrated suite of cutting-edge database solutions, tools, and services, SurrealDB empowers your workforce to discover innovative answers using products meticulously crafted to meet their requirements.</h5>
	</Layout::Text>

	<Layout::Gap small />

	<Layout::Boxes cols-3-to-2-to-1>
		<Link @link="docs.surrealql" mini>
			<Layout::Boxes::Item transparent @image="/static/img/ql.png" @text="The query language in SurrealDB looks and works similarly to traditional-SQL, but allows for querying over time-series and connected graph data. SurrealQL is an advanced query language, with programming language functionality, that allows developers or data analysts to work with SurrealDB in the ways they choose." hover />
		</Link>
		<Link @link="lq" mini>
			<Layout::Boxes::Item transparent @image="/static/img/lq.png" @text="Live Queries in SurrealDB enable a simple yet seamless way of building modern, responsive applications, whether connecting to SurrealDB as a traditional backend database, or when connecting directly to the database from the frontend." hover />
		</Link>
		<Link @link="cf" mini>
			<Layout::Boxes::Item transparent @image="/static/img/cf.png" @text="Change Feeds enable SurrealDB to play a role within within the wider ecosystem of enterprise, cloud, or micro-service based platforms, giving users the ability to retrieve and sync changes from SurrealDB to external systems and platforms." hover />
		</Link>
		<Link @link="ml" mini>
			<Layout::Boxes::Item transparent @image="/static/img/ml.png" @text="SurrealML enables machine learning models to be greatly simplified, ensuring reproducibility and consistency in machine learning pipelines. Running on our Rust engine, models can be built in Python, and imported in to SurrealDB for inference within the database runtime." hover />
		</Link>
	</Layout::Boxes>

	<Layout::Gap large />

</section>