<Meta::Tags>
	<title>SurrealDB | LQ | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | LQ">
	<meta name="description" content="Live Queries in SurrealDB enable a simple yet seamless way of building modern, responsive applications, whether connecting to SurrealDB as a traditional backend database, or when connecting directly to the database from the frontend.">
</Meta::Tags>


<Layout::Hero lq>
	<Layout::Text text-l>
		<img src="/static/img/products/lq.png" width="150" />
		<br><br>
		<h1>SurrealLQ</h1>
		<h2>Live Queries in SurrealDB enable a simple yet seamless way of building modern, responsive applications, whether connecting to SurrealDB as a traditional backend database, or when connecting directly to the database from the frontend.</h2>
		<Button::Thicker @link="features">
			<i class="fal fa-list-check"></i> <span>View all features</span>
		</Button::Thicker>
		<Button::Thicker @link="docs.introduction.start">
			<span>Get started with SurrealDB</span> <i class="fas fa-arrow-right"></i>
		</Button::Thicker>
	</Layout::Text>
</Layout::Hero>

<section black>

	<Layout::Gap large />

	<Layout::Videos cols-2-to-1>
		<Layout::Videos::Item text-l
			@image="/static/img/products/videos/hugh.jpg"
			@video="https://player.vimeo.com/video/867530121"
			@title="Understanding SurrealLQ"
			@people={{array
				"Hugh Kaznowski - Senior Software Engineer, SurrealDB"
			}}
		/>
		<Layout::Videos::Item text-l
			@image="/static/img/products/videos/obinna.jpg"
			@video="https://player.vimeo.com/video/867532172"
			@title="SurrealLQ for users"
			@people={{array
				"Obinna Ekwuno - Developer Experience Engineer, SurrealDB"
			}}
		/>
	</Layout::Videos>

	<Layout::Gap large />

	<Layout::Boxes cols-2-to-1>
		<Layout::Boxes::Item text-l light @title="Simplify the way you build modern applications" @image="/static/img/products/icons/sdbdevices.jpg" @text="Live Queries in SurrealDB enable a simple yet seamless way of building modern, responsive applications, whether connecting to SurrealDB as a traditional backend database, or when connecting directly to the database from the frontend. Live queries give developers the ability to receive real-time change notifications to data as it is happening, without the ability to subscribe to historic changes." />
		<Layout::Boxes::Item text-l light @title="Backed and powered by powerful database permissions" @image="/static/img/products/icons/apisecurity.jpg" @text="integrated directly within the table, row, and field level permissions of SurrealDB, each live query notification is unique and tailored to the authentication of the user who issued the query. Regardless of what a user has subscribed to, notifications will only be delivered based on the authenticated session of that user." />
		<Layout::Boxes::Item text-l light @title="Subscribe to all data or partial and patch changes" @image="/static/img/products/icons/recordsyncing.jpg" @text="Live queries support subscribing to full record data, receiving only partial record updates with specific projected fields, or by using a native JSON-patch and diff-patch-match implementation - even the exact concise document changes as they occur, whenever a document is modified." />
		<Layout::Boxes::Item text-l light @title="Combine Live Queries with other powerful SurrealQL functionality" @image="/static/img/products/icons/computedviews.jpg" @text="By bringing the simplicity of Live Queries alongside the advanced nature of pre-defined aggregate views, you can now build powerful dashboards that rely on aggregate data queries, computationally expensive analytics queries, and filtered collections of massive data sets - that update in real time as your data in the database changes."/>
	</Layout::Boxes>

	<Layout::Gap large />

</section>

<section dark>

	<Layout::Gap large />

	<Layout::Text text-l>
		<h5 faint>SurrealDB offers a dynamic and adaptable platform for business. With an integrated suite of cutting-edge database solutions, tools, and services, SurrealDB empowers your workforce to discover innovative answers using products meticulously crafted to meet their requirements.</h5>
	</Layout::Text>

	<Layout::Gap small />

	<Layout::Boxes cols-3-to-2-to-1>
		<Link @link="docs.surrealql" mini>
			<Layout::Boxes::Item transparent @image="/static/img/products/ql.png" @text="The query language in SurrealDB looks and works similarly to traditional-SQL, but allows for querying over time-series and connected graph data. SurrealQL is an advanced query language, with programming language functionality, that allows developers or data analysts to work with SurrealDB in the ways they choose." hover />
		</Link>
		<Link @link="ix" mini>
			<Layout::Boxes::Item transparent @image="/static/img/products/ix.png" @text="SurrealDB is designed for building applications of any size - and for that, query performance, and improved data analysis workloads are key. With SurrealDB secondary indexes, you can now index data using traditional indexes, full-text search indexing, and vector-embedding search for artificial intelligence use cases." hover />
		</Link>
		<Link @link="cf" mini>
			<Layout::Boxes::Item transparent @image="/static/img/products/cf.png" @text="Change Feeds enable SurrealDB to play a role within within the wider ecosystem of enterprise, cloud, or micro-service based platforms, giving users the ability to retrieve and sync changes from SurrealDB to external systems and platforms." hover />
		</Link>
		<Link @link="ml" mini>
			<Layout::Boxes::Item transparent @image="/static/img/products/ml.png" @text="SurrealML enables machine learning models to be greatly simplified, ensuring reproducibility and consistency in machine learning pipelines. Running on our Rust engine, models can be built in Python, and imported in to SurrealDB for inference within the database runtime." hover />
		</Link>
	</Layout::Boxes>

	<Layout::Gap large />

</section>