<Meta::Tags>
	<title>SurrealDB | Meet The Team | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | Meet The Team">
	<meta name="description" content="SurrealDB comprises an exceptionally talented team of engineers and accomplished leaders, each boasting a rich background in the realms of databases and cloud services.">
</Meta::Tags>

<Layout::Hero meettheteam>
	<Layout::Text text-l>
		<h1>
			Meet the team
		</h1>
		<h2>SurrealDB comprises an exceptionally talented team of engineers and accomplished leaders, each boasting a rich background in the realms of databases and cloud services, having previously excelled at renowned organisations including AWS, Cloudflare, Elastic, IBM, Neo4j, Netlify, Redis, Snowflake, Xata, Yahoo, and many more.</h2>
	</Layout::Text>
</Layout::Hero>

<Layout::Gap large />

<Layout::Boxes cols-4-to-2-to-1>
	<Layout::Boxes::Item text-l meettheteam @title="Tobie Morgan Hitchcock" @image="/static/img/meettheteam/tobie.jpg" @text="Co-founder and CEO" />
	<Layout::Boxes::Item text-l meettheteam @title="Tobie Morgan Hitchcock" @image="/static/img/meettheteam/jaime.jpg" @text="Co-founder and COO" />
	<Layout::Boxes::Item text-l meettheteam @title="Lizzie Holmes" @image="/static/img/meettheteam/lizzie.jpg" @text="Head of Experiences" />
	<Layout::Boxes::Item text-l meettheteam @title="Rushmore Mushambi" @image="/static/img/meettheteam/rushmore.jpg" @text="Senior Software Engineer" />
	<Layout::Boxes::Item text-l meettheteam @title="Hugh Kaznowski" @image="/static/img/meettheteam/hugh.jpg" @text="Senior Software Engineer" />
	<Layout::Boxes::Item text-l meettheteam @title="Aravind Putrevu" @image="/static/img/meettheteam/aravind.jpg" @text="Developer Relations Marketing Manager" />
	<Layout::Boxes::Item text-l meettheteam @title="Emmanuel Keller" @image="/static/img/meettheteam/emmanuel.jpg" @text="Senior Software Engineer" />
	<Layout::Boxes::Item text-l meettheteam @title="Alexander Fridriksson" @image="/static/img/meettheteam/alexander.jpg" @text="Data Evangelist" />
	<Layout::Boxes::Item text-l meettheteam @title="Yusuke Kuoka" @image="/static/img/meettheteam/yusuke.jpg" @text="Senior Software Engineer" />
	<Layout::Boxes::Item text-l meettheteam @title="Pratim Bhosale" @image="/static/img/meettheteam/pratim.jpg" @text="Developer Advocate" />
	<Layout::Boxes::Item text-l meettheteam @title="Salvador Gironès" @image="/static/img/meettheteam/salvador.jpg" @text="Senior Platform Engineer" />
	<Layout::Boxes::Item text-l meettheteam @title="Feranmi Okafor" @image="/static/img/meettheteam/feranmi.jpg" @text="Social Media Manager" />
	<Layout::Boxes::Item text-l meettheteam @title="Micha de Vries" @image="/static/img/meettheteam/micha.jpg" @text="Software Engineer" />
	<Layout::Boxes::Item text-l meettheteam @title="Lennex Zinyando" @image="/static/img/meettheteam/lennex.jpg" @text="Senior Frontend Engineer" />
	<Layout::Boxes::Item text-l meettheteam @title="Naiyarah Hussain" @image="/static/img/meettheteam/naiyarah.jpg" @text="Developer Relations Manager" />
	<Layout::Boxes::Item text-l meettheteam @title="Farhan Khan" @image="/static/img/meettheteam/farhan.jpg" @text="Senior Software Engineer" />
	<Layout::Boxes::Item text-l meettheteam @title="Mees Delzenne" @image="/static/img/meettheteam/mees.jpg" @text="Software Engineer" />
	<Layout::Boxes::Item text-l meettheteam @title="Obinna Ekwuno" @image="/static/img/meettheteam/obinna.jpg" @text="Developer Experience Engineeer" />
	<Layout::Boxes::Item text-l meettheteam @title="Maxwell Flitton" @image="/static/img/meettheteam/maxwell.jpg" @text="Senior Software Engineer" />
	<Layout::Boxes::Item text-l meettheteam @title="Ned Rudkins-Stow" @image="/static/img/meettheteam/ned.jpg" @text="Experiences Coordinator" />
	<Layout::Boxes::Item text-l meettheteam @title="Meriel Cunningham" @image="/static/img/meettheteam/meriel.jpg" @text="Experiences Coordinator" />
	<Layout::Boxes::Item text-l meettheteam @title="Raphael Darley" @image="/static/img/meettheteam/raphael.jpg" @text="Engineering Intern" />
	<Layout::Boxes::Item text-l meettheteam @title="Akanksha Dharkar" @image="/static/img/meettheteam/akanksha.jpg" @text="Senior Frontend Engineer" />
	<Layout::Boxes::Item text-l meettheteam @title="Dimitri Anoudis" @image="/static/img/meettheteam/dimitri.jpg" @text="Senior Frontend Engineer" />	
</Layout::Boxes>

<Layout::Gap large />

<section dark>

	<Layout::Gap large />

	<Layout::Boxes cols-2-to-1>
		<Link @link="community" mini>
			<Layout::Boxes::Item community @title="Community" @image="/static/img/img.png" @text="Join our community of maintainers, contributors, users, and surreal enthusiasts and help us make SurrealDB better for developers and organisations all around the world." />
		</Link>
		<Link @link="careers" mini>
			<Layout::Boxes::Item careers1 @title="Careers" @image="/static/img/img.png" @text="We are seeking to hire the best - people who care deeply about the work they do, and care about the people with whom they create and promote the product." />
		</Link>
	</Layout::Boxes>

	<Layout::Gap large />

</section>