<Meta::Tags>
	<title>SurrealDB | ML | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | ML">
	<meta name="description" content="SurrealML enables machine learning models to be greatly simplified, ensuring reproducibility and consistency in machine learning pipelines.">
</Meta::Tags>

<Layout::Hero ml>
	<Layout::Text text-l>
		<img src="/static/img/products/ml.png" width="150" />
		<br><br>
		<h1>SurrealML</h1>
		<h2>SurrealML enables machine learning models to be greatly simplified, ensuring reproducibility and consistency in machine learning pipelines. Running on our Rust engine, models can be built in Python, and imported in to SurrealDB for inference within the database runtime.</h2>
		<Button::Thicker @link="features">
			<i class="fal fa-list-check"></i> <span>View all features</span>
		</Button::Thicker>
		<Button::Thicker @link="docs.introduction.start">
			<span>Get started with SurrealDB</span> <i class="fas fa-arrow-right"></i>
		</Button::Thicker>
	</Layout::Text>
</Layout::Hero>

<section black>

	<Layout::Gap large />

	<Layout::Videos cols-2-to-1>
		<Layout::Videos::Item text-l
			@image="/static/img/products/videos/maxwell.jpg"
			@video="https://player.vimeo.com/video/867526155"
			@title="Understanding SurrealML"
			@people={{array
				"Maxwell Flitton - Senior Software Engineer, SurrealDB"
			}}
		/>
		<Layout::Videos::Item text-l
			@image="/static/img/products/videos/micha.jpg"
			@video="https://player.vimeo.com/video/867527082"
			@title="SurrealML for users"
			@people={{array
				"Micha de Vries - Software Engineer, SurrealDB"
			}}
		/>
	</Layout::Videos>

	<Layout::Gap large />

	<Layout::Boxes cols-2-to-1>
		<Layout::Boxes::Item text-l light @title="Simplify your machine learning pipelines" @image="/static/img/products/icons/fileml.png" @text="SurrealML is a new file type for working with PyTorch and SKLearn models in Python. This file format, powered by our Rust runtime, allows machine learning model developers to train models in Python, and save the model and metadata to a portable and open-source file format." />
		<Layout::Boxes::Item text-l light @title="Model versioning for improving machine learning pipelines" @image="/static/img/products/icons/mlfileversioning.png" @text="With support for model versioning, machine learning pipelines can be greatly simplified, bringing consistency and reproducibility to data normalisation and model inference, allowing for execution across multiple different Python versions, environments, and platforms." />
		<Layout::Boxes::Item text-l light @title="Build in Python. Powered by Rust." @image="/static/img/products/icons/bigfileml.png" @text="Using our Rust-based SurrealML runtime, the file header stores the model name, description, version, and data normalisation logic. This means that the processing logic that is required for all data, as it is passed into a model for inference purposes, no longer has to sit separately in a Python deployment." />
		<Layout::Boxes::Item text-l light @title="Infer on data, directly within the database" @image="/static/img/products/icons/mlembedded.png" @text="With embedded metadata and data normalisation logic stored within the SurrealML file, and surrounding the pre-trained internal model, SurrealML files can be ingested into SurrealDB, enabling model inference within the Rust-based SurrealDB runtime. The database runtime understands what arguments and values the model expects, allowing any data within the database to be inferred against the supplied model." />
		<Layout::Boxes::Item text-l light @title="Work with both raw, and structured data inputs" @image="/static/img/products/icons/pythonandrust.png" @text="We are taking the flexibility and ecosystem of machine learning in Python, and bringing it alongside the power and performance of Rust and SurrealDB. Whether working with raw data inputs, or simplified model arguments, SurrealDB extends the power of Python machine-learning, without changing the traditional approach to implementing machine-learning workflows in Python." />
	</Layout::Boxes>

	<Layout::Gap large />

</section>

<section dark>

	<Layout::Gap large />

	<Layout::Text text-l>
		<h5 faint>SurrealDB offers a dynamic and adaptable platform for business. With an integrated suite of cutting-edge database solutions, tools, and services, SurrealDB empowers your workforce to discover innovative answers using products meticulously crafted to meet their requirements.</h5>
	</Layout::Text>

	<Layout::Gap small />

	<Layout::Boxes cols-3-to-2-to-1>
		<Link @link="docs.surrealql" mini>
			<Layout::Boxes::Item transparent @image="/static/img/products/ql.png" @text="The query language in SurrealDB looks and works similarly to traditional-SQL, but allows for querying over time-series and connected graph data. SurrealQL is an advanced query language, with programming language functionality, that allows developers or data analysts to work with SurrealDB in the ways they choose." hover />
		</Link>
		<Link @link="lq" mini>
			<Layout::Boxes::Item transparent @image="/static/img/products/lq.png" @text="Live Queries in SurrealDB enable a simple yet seamless way of building modern, responsive applications, whether connecting to SurrealDB as a traditional backend database, or when connecting directly to the database from the frontend." hover />
		</Link>
		<Link @link="ix" mini>
			<Layout::Boxes::Item transparent @image="/static/img/products/ix.png" @text="SurrealDB is designed for building applications of any size - and for that, query performance, and improved data analysis workloads are key. With SurrealDB secondary indexes, you can now index data using traditional indexes, full-text search indexing, and vector-embedding search for artificial intelligence use cases." hover />
		</Link>
		<Link @link="cf" mini>
			<Layout::Boxes::Item transparent @image="/static/img/products/cf.png" @text="Change Feeds enable SurrealDB to play a role within within the wider ecosystem of enterprise, cloud, or micro-service based platforms, giving users the ability to retrieve and sync changes from SurrealDB to external systems and platforms." hover />
		</Link>
	</Layout::Boxes>

	<Layout::Gap large />

</section>