<Meta::Tags>
	<title>SurrealDB | Open Source | The ultimate multi-model database</title>
	<meta name="title" property="og:title" content="SurrealDB | Open Source">
	<meta name="description" content="SurrealDB is an open source company, supporting existing open source tools and communities wherever possible.">
</Meta::Tags>

<Layout::Hero install>
	<Layout::Text text-l>
		<h1>Our open source projects</h1>
		<h3 lighter>SurrealDB is an open source company, supporting existing open source tools and communities wherever possible. Source code and core components for SurrealDB are variously licensed under a number of different licenses. A copy of each license can be found in each repository on GitHub.</h3>
		<Button::Thicker @link="features">
			<i class="fal fa-list-check"></i> <span>View all features</span>
		</Button::Thicker>
		<Button::Thicker @link="docs.introduction.start">
			<span>Get started with SurrealDB</span> <i class="fas fa-arrow-right"></i>
		</Button::Thicker>
	</Layout::Text>
</Layout::Hero>

<Layout::Gap large />

<Section::Opensource />

<Layout::Gap large />