<Meta::Tags
	@title="SurrealDB | Open Source"
	@description="SurrealDB is an open source company, supporting existing open source tools and communities wherever possible."
/>

<Layout::Gap small />

<Layout::Text text-l>
	<h1>Our open source projects</h1>
</Layout::Text>

<Layout::Gap mini />

<Layout::Text text-l>
	<h5 faint>SurrealDB is an open source company, supporting existing open source tools and communities wherever possible. Source code and core components for SurrealDB are variously licensed under a number of different licenses. A copy of each license can be found in each repository on GitHub.</h5>
</Layout::Text>

<Layout::Gap mini />

<Section::Opensource />

<Layout::Gap small />

{{!-- <Layout::Github /> --}}