<Meta::Tags
	@title="SurrealDB | Releases"
	@description="Keep track of the notable updates, improvements, and bug fixes for every SurrealDB product release in chronological order."
/>

<Layout::Hero releases>
	<Layout::Text text-l>
		<h1 dark>Releases</h1>
		<h3>
			SurrealDB has been built from the ground up to be the ultimate database for
			developers who want to build tomorrow's applications. On this page you can
			view the release notes for the different historic versions of SurrealDB,
			and for imminent future releases.
		</h3>
		<h3>
			If you have an idea for SurrealDB, then we would love to hear from you.
		</h3>
		<Button::Thicker @link={{url "github"}}>
			<i class="fa-brands fa-github"></i> <span>Follow us on Github</span>
		</Button::Thicker>
		<Button::Thicker @link={{url "discord"}}>
			<i class="fa-brands fa-discord"></i> <span>Join our Discord community</span>
		</Button::Thicker>
	</Layout::Text>
</Layout::Hero>

<Layout::Gap large />

<Section::Releases />